body {
    background: #E3E3E3;
}


/*************** top-list  *******************/
.module{
    margin: 0 0 10px 0;
}
.module ul {
    width: 100%;
    height: auto;
    padding: 5px 0;
    text-align: center;
}

.module>ul>li {
    margin: 0 auto;
    width: 94%;
    border-bottom: 1px solid #DFDFDF;
}

.module>ul>li:last-child {
    text-align: right;
    border: none;
}

.module>ul>li:first-child span {
    font-size: 1.17em;
    padding: 5px 10px;
    float: left;
}


/*************** room-list  *******************/

.room-list {
    width: 100%;
    min-height: 80px;
    padding: 0.5em 0em;
    overflow: auto;
}

.room-list-left {
    float: left;
    width: 25%;
    height: 80px;
    margin: .5em;
}

.room-list-left img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.room-list-center {
    font-size: 1em;
    float: left;
    width: 50%;
    margin-top: 10px;
}

.room-list-center h3 {
    width: 100%;
    text-align: left;
}

.room-list-center li {
    overflow: auto;
    margin-top: 0.3em;
}

.room-list-center p {
    color: #919191;
    margin-right: .5em;
    display: inline-block;
}

.room-list-center ul {
    text-align: left;
}

.room-list-right {
    float: left;
    width: 20%;
    text-align: left;
}

.room-price {
    color: #FF9934;
    margin-top: 15%;
    font-size: 1.4em;
}
textarea{
    margin: 10px auto;
    width: 86%;
    height: 150px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 4px #B3B3B3 inset;
    box-shadow: 0px 1px 4px #B3B3B3 inset;
    padding: 2%;
}
textarea:focus{
    outline: none;
}

.imgContent{
    width: 90%;
    height: 60px;
    text-align: left;
}
input[type="file"]{
    margin-left: 5%;
    height: 60px;
    width: 60px;
    opacity: 0;
    position: relative
}
.file{
    margin-left: 5%;
    height: 60px;
    width: 60px;
    background: url('../images/push_assess/add.png') no-repeat 0px 5px;  
    position: absolute;
}
.left{
    width: 95%;
    height: 80px;
    text-align: left;
    padding-left: 5%;
}
.left div span{
    display: inline-block;
    margin-right: 5px;
    line-height: 40px;
}
.left div input[type='radio']{
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin: 0 2px;
    position: relative;
    opacity: 0;
}
.left .star{
    position: absolute;
    width: 18px;
    height: 18px;
    margin: 12px 0 0 2px;
    background: url('../images/common/starN.png') no-repeat;
    background-size: cover;
}
input[type="submit"]{
    width: auto;
    height: 40px;
    padding: 0 10px;
    border: none;
    background: #FF9934;
    color: #ffffff;
    float: right;
}