body {
    background: #E3E3E3;
}


/*************** top-list  *******************/
.module{
    margin: 0 0 10px 0;
}
.module ul {
    width: 100%;
    height: auto;
    padding: 5px 0;
    text-align: center;
}

.module>ul>li {
    margin: 0 auto;
    width: 94%;
    border-bottom: 1px solid #DFDFDF;
}

.module>ul>li:last-child {
    text-align: right;
    border: none;
}

.module>ul>li:first-child span {
    font-size: 1.17em;
    padding: 5px 10px;
    float: left;
}


/*************** room-list  *******************/

.room-list {
    width: 100%;
    min-height: 80px;
    padding: 0.5em 0em;
    overflow: auto;
}

.room-list-left {
    float: left;
    width: 25%;
    height: 80px;
    margin: .5em;
}

.room-list-left img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.room-list-center {
    font-size: 1em;
    float: left;
    width: 50%;
    margin-top: 10px;
}

.room-list-center h3 {
    width: 100%;
    text-align: left;
}

.room-list-center li {
    overflow: auto;
    margin-top: 0.3em;
}

.room-list-center p {
    color: #919191;
    margin-right: .5em;
    display: inline-block;
}

.room-list-center ul {
    text-align: left;
}

.room-list-right {
    float: left;
    width: 20%;
    text-align: left;
}

.room-price {
    color: #FF9934;
    margin-top: 15%;
    font-size: 1.4em;
}
textarea{
    margin: 10px auto;
    width: 86%;
    height: 150px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 4px #B3B3B3 inset;
    box-shadow: 0px 1px 4px #B3B3B3 inset;
    padding: 2%;
}
textarea:focus{
    outline: none;
}

.imgContent{
    width: 90%;
    height: 60px;
    text-align: left;
}
input[type="file"]{
    margin-left: 5%;
    height: 60px;
    width: 60px;
    opacity: 0;
    position: relative
}
.file{
    margin-left: 5%;
    height: 60px;
    width: 60px;
    background: url('../images/push_assess/add.png') no-repeat 0px 5px;  
    position: absolute;
}
.left{
    width: 95%;
    height: 80px;
    text-align: left;
    padding-left: 5%;
}
.left div span{
    display: inline-block;
    margin-right: 5px;
    line-height: 40px;
}
.left div input[type='radio']{
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin: 0 2px;
    position: relative;
    opacity: 0;
}
.left .star{
    position: absolute;
    width: 18px;
    height: 18px;
    margin: 12px 0 0 2px;
    background: url('../images/common/starN.png') no-repeat;
    background-size: cover;
}
.left .starL{
    background: url('../images/common/starL.png') no-repeat;
    background-size: cover;
}
input[type="submit"]{
    width: auto;
    height: 40px;
    padding: 0 10px;
    border: none;
    background: #FF9934;
    color: #ffffff;
    float: right;
}
/* *************************** add Img function*************************** */
.z_photo {
    width:100%;
    height: 60px;
    margin-left: 5%;
    overflow: auto;
    clear: both;
}

.z_photo img {
    width: 1rem;
    height: 60px;
}

.z_addImg {
    float: left;
    margin-right: 0.1rem;
}

.z_file {
    width: 1rem;
    height: auto;
    background: url('../images/push_assess/add.png') no-repeat;
    background-size: 100% 100%;
    float: left;
    margin-right: 0.2rem;
}

.z_file input::-webkit-file-upload-button {
    width: 1rem;
    height: auto;
    border: none;
    position: absolute;
    outline: 0;
    opacity: 0;
}

.z_file input#file {
    display: block;
    border: 0;
    vertical-align: middle;
}
/*遮罩层*/
.z_mask {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}

.z_alert {
    width: 70%;
    height: 15%;
    border-radius: 3px;
    background: #2B2B2B;
    color: #000000;
    font-size: 1.2em;
    text-align: center;
    position: absolute;
    left: 15%;
    top: 30%;
}

.z_alert p:nth-child(1) {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    border-radius: 3px 3px 0 0;
    background: #ffffff;
}

.z_alert p:nth-child(2) span {
    display: inline-block;
    width: 30%;
    height: 30px;
    line-height: 30px;
    border-radius: 2px;
    color:  #ffffff;
    margin: 6% 8% 0;
    background: #666666;
}