body{
	background: #ffffff;
}
.content{
	width: 100%;
	margin: 0 auto;
	height: auto;
	padding: 0; 
	text-align: center;
}
ul{
	width: 100%;
	height: auto;
}
ul li{
	width: 95%;
	height: 50px;
	line-height: 50px;
	text-align: left;
	padding-left: 5%;
	font-size: 1em;
	border-bottom: 1px solid #E4E4E4;
}
ul li span,ul li a{
	display: inline-block;
	height: 50px;
}
ul li span{
	width: 70%;
	vertical-align: top;
}
ul li a:not(.goIn){
	width: 22%;
	padding-right: 3%;
	text-align: right;
}
ul li a.goIn{
	width: 25%;
	background: url('../images/common/goIn.png') no-repeat 100% 50%;
	background-size: 30px 30px;
}