.focus span{width:10px;height:10px;margin-right:10px;border-radius:50%;background:#666;font-size:0}
.focus span.current{background:#fff}

/*搜索页面*/
.so-top{
  width: 100%;
  text-align: left;
}
.so-top p{
  line-height: 2.9em;
  padding-left: 1em;
  color: #515151;
}
.sou-lis{
  width: 100%;
  padding: 0.5em 0em;
  border-bottom: solid 1px #E0E0E0;
  overflow: auto;
}
.soul-le{
  float: left;
  width: 25%;
  padding-left: 0.5em;
}
.soul-le img{
  width: 100%;
  border-radius: 5px;
}
.soul-cen{
  float: left;
  width: 47%;
  margin-left: 1em;
}
.soul-cen h3{
  text-align: left;
  padding: 0.5em 0em;
}
.soul-cen li{
  overflow: auto;
  margin-top: 0.3em;
}
.soul-cen p{
  color: #919191;
  float: left;
  margin-right: 1em;
  display: block;
}
.soul-ri{
  float: right;
  width: 18%;
  text-align: left;
}
.sou-jia{
  color: #EBA840;
  padding:0.5em 0em;
  font-size: 14px;
}
.sou-sc{
  font-size: 12px;
  padding: 1em 0em;
}
.sou-sc p{
  float: left;
  color: #B5B5B5;
}
.sou-sc i{
  float: left;
  display: block;
  margin-left: 0.5em;
  padding-top: 0.2em;
}
.sou-sc img{
  width: 13px;
}
