/*  module   */
.biao {
    background: url(../../images/common/arrow.png) no-repeat left center;
    background-size: 7px 10px;
    margin-left: 1em;
    padding-left: 1em;
    text-align: left;
    overflow: auto;
    height: auto;
    width: auto;
}

.biao p {
    float: left;
    font-size: 14px;
    line-height: 40px;
}

.biao span {
    display: block;
    float: right;
    line-height: 40px;
    margin-right: 1.5em;
}

.biao span a {
    font-size: 12px;
    color: #838383;
}

.cet {
    width: 95%;
    height: auto;
    margin: 0 auto;
    overflow: auto;
}
/* white module */
.module {
    background: #ffffff;
    width: 100%;
    height: auto;
    margin-top: 10px;
}
/*--------------------------------- clear both ---------------------------------------*/

.clearfix:after,
.clearfix:before {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}


/*...........................compatible IE5/6/7*/

.clearfix {
    zoom: 1;
}
/* carousel */
.slider{
    display:none; width:100%;
}
.slider ul {
    position: absolute;
    padding-top: 44px;
}